<a href="https://colab.research.google.com/github/BrunoAzambuja/Sigmoidal-School-of-Data-Science-and-Machine-Learning/blob/main/01_Exemplo_do_Uber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
<img alt="Colaboratory logo" width="15%" src="https://raw.githubusercontent.com/carlosfab/escola-data-science/master/img/novo_logo_bg_claro.png">

#### **Data Science na Prática 2.0**
*by [sigmoidal.ai](https://sigmoidal.ai)*  

---

# Analisando Dados do Uber

<center><img alt="Uber" width="55%" src="https://timeline.canaltech.com.br/345003.700/uber-a-uma-chamada-companhia-testa-viagens-solicitadas-por-telefone-160407.jpg"></center>

In [ ]:
# importando pacotes necessários
import pandas as pd
import numpy as np

In [ ]:
# carregando os dados
df = pd.read_csv('https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz',
                 nrows=1000)

In [ ]:
# visualizando o conjunto de dados
df.head()

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512

In [ ]:
# trabalhando o nome das colunas
lowercase = lambda x: str(x).lower()
df.rename(lowercase, axis="columns", inplace=True)

In [ ]:
# visualizando os dados
DATA_COLUMN="date/time"
DATA_URL = "https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz"

In [ ]:
# transformando as datas para datetime
df["date/time"] = pd.to_datetime(df["date/time"])

In [ ]:
# criando histograma
np.histogram(df["date/time"].dt.hour, bins=24, range=(0, 24))[0]

array([27, 10,  5, 11, 25, 37, 50, 65, 85, 80, 89, 55, 47, 41, 43, 47, 48,
       40, 35, 35, 38, 40, 29, 18])